:root {
  --white: #ffffff;
  --black: #000000;
  --whiteSmoke: #f5f5f5;
  --sandyBrown: #ffb87f;
  --blueViolet: #9146ff;
  --rebeccaPurple: #6441a5;
  --darkSlateBlue: #392e5c;
  --darkSlateGray: #151822;
  --dimGrayBlue: #6c677c;
  --silver: #c4c4c4;
}

html,
body {
  height: 100%;
}

body {
  /* overflow-y: hidden; */
  overflow-x: hidden;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 18px;
}

button {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
}

.violet__btn {
  padding: 19px 0;
  background-color: var(--blueViolet);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  color: var(--white);
  text-align: center;
  font-weight: 600;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

@media (min-width: 769px) {
  .violet__btn:hover {
    background-color: #57329c;
  }

  .how__btn:hover {
    background-color: #000;
    color: #ffffff;
  }

  .about__btn:hover {
    background-color: #fff;
    color: #000;
    border-color: #000;
  }
}

.how__btn {
  display: inline-block;
  text-align: center;
  min-width: 168px;
  padding: 19px 0;
  border: 2px solid var(--black);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  font-weight: 600;
  color: #000;
}

/* HEADER SECTION */
.header__inner {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  flex-grow: 1;
  margin-left: 40px;
}

.menu__list {
  display: flex;
  gap: 20px;
  font-weight: 600;
}

.menu__list-link {
  color: var(--dimGrayBlue);
}

.menu__list-item:last-child {
  flex-grow: 1;
  text-align: end;
}

.menu__list-item:last-child .menu__list-link {
  color: var(--black);
}

.header__btn {
  margin-left: 60px;
  min-width: 160px;
}

.burger__btn {
  display: grid;
  place-items: center;
  display: none;
}

/* HERO SECTION */

.hero {
  padding: 60px 0 272px;
}

.hero__inner {
  position: relative;
}

.hero__img {
  position: absolute;
  right: -164px;
  top: -77px;
}

.rocket-img {
  position: absolute;
  top: 60px;
  left: 170px;
  animation: fadeInDown;
  -webkit-animation: fadeInDown;
  -webkit-animation: fadeInDown;
  animation-duration: 4s;
}

.rocket-shadow {
  position: absolute;
  top: 190px;
  left: 210px;
  animation: fadeInTopRight;
  -webkit-animation: fadeInTopRight;
  -webkit-animation: fadeInTopRight;
  animation-duration: 4s;
}

.headphones-img {
  position: absolute;
  right: 352px;
  top: 344px;
  z-index: 3;
  animation-name: headphones;
  -webkit-animation-name: headphones;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-duration: 2s;
}
@keyframes headphones {
  30% {
    top: 344px;
  }
  100% {
    top: 310px;
  }
}

.headphones-shadow {
  position: absolute;
  right: 297px;
  top: 422px;
  z-index: 1;
  animation-name: headphones-shadow;
  -webkit-animation-name: headphones-shadow;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-duration: 2s;
}
@keyframes headphones-shadow {
  30% {
    top: 422px;
    right: 297px;
  }
  100% {
    top: 408px;
    right: 267px;
  }
}

.hero__offer {
  margin-top: 100px;
  max-width: 542px;
}

.microphone-img {
  position: absolute;
  right: 229px;
  bottom: 151px;
  z-index: 2;
}

.hero__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
}

.hero__subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--dimGrayBlue);
  margin: 40px 0;
}

.hero__buttons {
  display: flex;
  gap: 24px;
}

.hero__btn:first-child {
  display: inline-block;
  min-width: 168px;
}

/* ABOUT SECTION */

.about {
  padding-bottom: 100px;
}

.about__top {
  position: relative;
  background-color: #312b47;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 110px 96px;
  /* overflow: hidden; */
}

.about__content {
  max-width: 50%;
  z-index: 3;
}

.about__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: var(--white);
  margin-bottom: 50px;
}

.about__text {
  color: var(--silver);
}

.about__text:not(:first-child) {
  margin-top: 20px;
}

.about__btn {
  padding: 20px 0;
  display: inline-block;
  min-width: 168px;
  border: 2px solid var(--white);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  text-align: center;
  color: var(--white);
  margin-top: 30px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  font-weight: 600;
}

.speaker {
  position: absolute;
  top: 105px;
  left: 192px;
  animation: fadeInDown;
  -webkit-animation: fadeInDown;
  -webkit-animation: fadeInDown;
  animation-duration: 2s;
  z-index: 3;
}

.speaker-shadow {
  position: absolute;
  top: 179px;
  left: 95px;
  animation: fadeIn;
  -webkit-animation: fadeIn;
  -webkit-animation: fadeIn;
  animation-duration: 2s;
  z-index: 2;
}

.about-img {
  position: absolute;
  left: -135px;
  top: 39px;
  z-index: 2;
}

.about__img-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 1;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.icon-like {
  position: absolute;
  left: 374px;
  top: 112px;
  animation-name: like;
  -webkit-animation-name: like;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-duration: 1.5s;
  z-index: 2;
}

@keyframes like {
  0% {
    top: 112px;
  }
  100% {
    top: 100px;
  }
}

.icon-love {
  position: absolute;
  top: 152px;
  left: -34px;
  animation-name: love;
  -webkit-animation-name: love;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-duration: 1.5s;
  z-index: 2;
}

@keyframes love {
  0% {
    top: 152px;
  }
  100% {
    top: 140px;
  }
}

.about__ellipse-1 {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 400px;
  height: 400px;
  background: #253271;
  filter: blur(100px);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.about__ellipse-2 {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 400px;
  height: 400px;
  background: #6320ae;
  filter: blur(100px);
  -webkit-transform: translate(50%, 50%);
  -moz-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  -o-transform: translate(50%, 50%);
}

.about__bottom {
  position: relative;
  background-color: #ffb87f;
  width: 97%;
  margin: 0 auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 30px 80px;
  overflow: hidden;
}

.about__items {
  display: flex;
  justify-content: space-between;
}

.about__items .item {
  text-align: center;
  color: var(--darkSlateBlue);
  z-index: 4;
}

.about__items .item .item__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 20px;
}

.about__items .item .item__text {
  position: relative;
  padding: 10.5px 0 10.5px 60px;
}

.about__items .item-1 .item__text::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 40px;
  height: 40px;
  background-image: url("../images/user-check.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.about__items .item-2 .item__text::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 40px;
  height: 40px;
  background-image: url("../images/screen-capture.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.about__items .item-3 .item__text::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 40px;
  height: 40px;
  background-image: url("../images/union.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.bottom__ellipse-1 {
  position: absolute;
  left: 0px;
  top: -35px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #fedc95;
  filter: blur(100px);
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.bottom__ellipse-2 {
  position: absolute;
  right: 0px;
  top: -35px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: translateX(50%);
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
  background: rgba(255, 37, 33, 0.3);
  filter: blur(100px);
}

/* WORLD SECTION */

.world__title {
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
}

.world__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.world__inner img {
  transform: translateX(-80px);
  -webkit-transform: translateX(-80px);
  -moz-transform: translateX(-80px);
  -ms-transform: translateX(-80px);
  -o-transform: translateX(-80px);
}

.graphic {
  min-width: 264px;
  height: 264px;
  background-image: url("../images/chart-graphic.svg");
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.graphic b {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
}

.graphic p {
  font-size: 12px;
  line-height: 15px;
  max-width: 110px;
  text-align: center;
}
