:root {
  --white: #ffffff;
  --black: #000000;
  --whiteSmoke: #f5f5f5;
  --sandyBrown: #ffb87f;
  --blueViolet: #9146ff;
  --rebeccaPurple: #6441a5;
  --darkSlateBlue: #392e5c;
  --darkSlateGray: #151822;
  --dimGrayBlue: #6c677c;
  --silver: #c4c4c4;
}

html,
body {
  height: 100%;
}

body {
  /* overflow-y: hidden; */
  overflow-x: hidden;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 18px;
}

button {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
}

.violet__btn {
  padding: 19px 0;
  background-color: var(--blueViolet);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  color: var(--white);
  text-align: center;
  font-weight: 600;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

@media (min-width: 769px) {
  .violet__btn:hover {
    background-color: #57329c;
  }

  .how__btn:hover {
    background-color: #000;
    color: #ffffff;
  }
}

.how__btn {
  display: inline-block;
  text-align: center;
  min-width: 168px;
  padding: 19px 0;
  border: 2px solid var(--black);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  font-weight: 600;
  color: #000;
}

/* HEADER SECTION */
.header__inner {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  flex-grow: 1;
  margin-left: 40px;
}

.menu__list {
  display: flex;
  gap: 20px;
  font-weight: 600;
}

.menu__list-link {
  color: var(--dimGrayBlue);
}

.menu__list-item:last-child {
  flex-grow: 1;
  text-align: end;
}

.menu__list-item:last-child .menu__list-link {
  color: var(--black);
}

.header__btn {
  margin-left: 60px;
  min-width: 160px;
}

.burger__btn {
  display: grid;
  place-items: center;
  display: none;
}

/* HERO SECTION */

.hero {
  /* position: relative; */
  padding-top: 60px;
}

.hero__inner {
  position: relative;
}

.hero__img {
  position: absolute;
  right: -164px;
  top: -77px;
}

.rocket-img {
  position: absolute;
  top: 60px;
  left: 170px;
  animation: fadeInDown;
  -webkit-animation: fadeInDown;
  -webkit-animation: fadeInDown;
  animation-duration: 4s;
}

.rocket-shadow {
  position: absolute;
  top: 190px;
  left: 210px;
  animation: fadeInTopRight;
  -webkit-animation: fadeInTopRight;
  -webkit-animation: fadeInTopRight;
  animation-duration: 4s;
}

.headphones-img {
  position: absolute;
  right: 352px;
  top: 344px;
  z-index: 3;
  animation-name: headphones;
  -webkit-animation-name: headphones;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-duration: 2s;
}
@keyframes headphones {
  30% {
    top: 344px;
  }
  100% {
    top: 310px;
  }
}

.headphones-shadow {
  position: absolute;
  right: 297px;
  top: 422px;
  z-index: 1;
  animation-name: headphones-shadow;
  -webkit-animation-name: headphones-shadow;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-duration: 2s;
}
@keyframes headphones-shadow {
  30% {
    top: 422px;
    right: 297px;
  }
  100% {
    top: 408px;
    right: 267px;
  }
}

.hero__offer {
  margin-top: 100px;
  max-width: 542px;
}

.microphone-img {
  position: absolute;
  right: 229px;
  bottom: 151px;
  z-index: 2;
}

.hero__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
}

.hero__subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--dimGrayBlue);
  margin: 40px 0;
}

.hero__buttons {
  display: flex;
  gap: 24px;
}

.hero__btn:first-child {
  display: inline-block;
  min-width: 168px;
}
